<div class="card">
    <form (ngSubmit)="yoodle()" [formGroup]="yoodleForm">
        <div class="card-body">

            <div class="row">
                <div class="col-1">
                    <img
                            alt="Circle image"
                            class="img-fluid rounded-circle shadow"
                            src="/assets/img/theme/team-2-800x800.jpg"
                            style="width: 60px;">
                </div>

                <div class="col-11" style="height: 60px">
                    <input
                            formControlName="text"
                            class="h-100"
                            msInput
                            placeholder="Weź coś powiedz myszojeleniowi"
                    />
                </div>
            </div>

            <hr class="p-0 m-3">

            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <button type="submit" class="w-100" msButton color="primary" size="medium">Jodłuj</button>
                </div>
            </div>
        </div>
    </form>
</div>
