<ms-card class="mt-2">
    <div header>
        Dane użytkownika
    </div>

    <div body class="row">
        <div class="col-6">
            <p>
                <span class="font-weight-bold">Nazwa:</span>
                {{ profile.account.username }}</p>
        </div>

        <div class="col-6">
            <p>
                <span class="font-weight-bold">Ilość yoodle:</span>
                {{ profile.tweets.length }}
            </p>
        </div>
    </div>
</ms-card>

<ms-card class="mt-2">
    <div header>
        Yoodle użytkownika
    </div>

    <div body>

        <ng-container *ngIf="profile.tweetCount > 0; else emptyTemplate">
            <div *ngFor="let yoodle of profile.tweets" class="mt-2">
                <ms-yoodle [yoodle]="yoodle" [readOnly]="true"></ms-yoodle>
            </div>
        </ng-container>

        <ng-template #emptyTemplate>
            <div class="d-flex">
                <p><span class="font-weight-bold"> Jakoś tutaj pusto</span></p>
                <p><ms-icon [icon]="Icon.Sad"></ms-icon></p>
            </div>
        </ng-template>
    </div>

</ms-card>
