<ms-card>
    <div header>
        <ms-emotions
                [tweet]="yoodle"
                [disabled]="readOnly"
                (emotionClicked)="saveAndUpdateEmotions($event)"
        ></ms-emotions>
    </div>

    <div body>
        <span class="font-weight-bold">
            {{ yoodle.text }}
        </span>
    </div>

    <div footer>
        <span>Author: </span> <a [routerLink]="'/users/' + yoodle.author.identifier"><span class="font-italic">{{ yoodle.author.identifier }}</span></a> ,
        <span class="font-italic">Data utworzenia: </span><span class="font-italic">{{ yoodle.createdDate | date }}</span>,
        <ng-container *ngIf="yoodle.parentTweetLink">
            <span>komentarz do tego: </span> <a [routerLink]="'/yoodle/' + yoodle.parentTweetLink">yoodla</a>
        </ng-container>
    </div>
</ms-card>
